<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <form autocomplete="off" #f="ngForm" (ngSubmit)="onLogin()">
      <h4 class="text-center">Login</h4>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          ngModel
          [(ngModel)]="email"
          class="form-control"
          #Email="ngModel"
          required
        />
        <small
          *ngIf="Email.touched && Email.errors?.required"
          class="text-danger"
        >
          Email is Required
        </small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="password"
          class="form-control"
          ngModel
          #Password="ngModel"
          required
        />
        <small
          *ngIf="Password.touched && Password.errors?.required"
          class="text-danger"
        >
          Password is Required
        </small>
      </div>
      <button
        type="submit"
        [disabled]="f.invalid"
        class="btn btn-primary btn-block"
      >
        <i class="fas fa-paper-plane"></i> Login
      </button>
    </form>
  </div>
</div>
