<app-navbar></app-navbar>
<div class="container">
  <div class="text-right">
    <button routerLink="/add-task" class="btn btn-info mt-5 mb-4">
      <i class="fas fa-plus"></i> Add task
    </button>
  </div>
  <h4 class="mb-5">My Task List</h4>
  <div *ngIf="task?.length != 0">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-inline mb-2">
          <i class="fas fa-search mr-2"></i>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="term"
            name="term"
            placeholder="Search"
          />
        </div>
      </div>
    </div>

    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let t of task
              | filter: term
              | paginate
                : {
                    id: 'listin-pag',
                    itemsPerPage: 3,
                    currentPage: page,
                    totalItems: total
                  };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ t.name }}</td>
          <td>{{ t.dateTask | date }}</td>
          <td *ngIf="t.done" style="color: green;">
            <i class="fas fa-thumbs-up fa-2x"></i>
          </td>
          <td *ngIf="!t.done" style="color: red;">
            <i class="fas fa-thumbs-down fa-2x"></i>
          </td>
          <td>
            <button
              [routerLink]="['/Task', t._id]"
              class="btn btn-primary mr-2"
            >
              <i class="fas fa-info-circle"></i> Detail
            </button>
            <button
              [routerLink]="['/Edit', t._id]"
              class="btn btn-warning text-white mr-2"
            >
              <i class="fas fa-edit"></i> Edit
            </button>

            <button (click)="deleteTask(t._id)" class="btn btn-danger">
              <i class="far fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="task?.length == 0">
    <div class="jumbotron">
      <p class="lead">There is no tasks</p>
    </div>
  </div>
  <div class="text-right mt-3">
    <pagination-controls
      id="listin-pag"
      (pageChange)="page = $event"
      (pageBoundsCorrection)="page = $event"
      maxSize="10"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</div>
